// -----------------------------------------------------------------------------
// This file contains styles that are specific to the home page.
// -----------------------------------------------------------------------------
html{
	font-size: 62.5%;
}
.nav{
	display: flex;
	align-items: center;
	padding-left: 5.3rem;
	padding-right: 8rem;
	justify-content: flex-end;

	&:first-child{
		justify-content: flex-start;
	};

	&__logo{
		height: 10rem;
		width: 12.7rem;
	}
	&__list{
		list-style-type: none;
		text-transform: uppercase;
		display: flex;
		line-height: 2.56rem;
	  	align-items: center;
	  	margin-left: auto;
	}
	&__list li a{
		text-decoration: none;
		color: $color-primary;
		font-size: 1.4rem;
		margin-left: 3.3rem;
		line-height: 2.56rem;
	}
}


.banner{
	background: linear-gradient(to bottom, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('../img/banner.jpg');
	height: 77vh;
	background-position: center;
	color: $text-white;
	padding: 3rem 23.6rem;
	text-align: center;

	&__heading{
		text-transform: capitalize;
		font-size: 8rem;
		font-weight: 600;
	}

	&__lead{
		font-size: 3.16rem;
	}

	&__sub{
		font-size:1.8rem;
	}
}
.btn{
	color: $text-white;
	padding: 1.5rem 7.5rem;
	font-size: 1.8rem;
	border: none;

	&__round{
		border-radius: 10rem;
	}

	&__primary{
		background-color: #56CCF2;

	}
}

.heading{
	margin: 4.9rem 0 9rem;
	text-align: center;
	font-size: 4.8rem;
}

.updates{
	padding: 8.1rem;
	display: flex;
	flex-wrap: wrap;

	&__card{
		height: 37.5rem;
		width: 42vw;
	    display: flex;
		justify-content: center;
		align-items: center;
		font-size: 1.8rem;
		text-align: center;
		padding: 2rem;
		color: $text-black;

		&-image1{
			background: linear-gradient(to bottom, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('../img/1.jpg');
			background-position: center;
			color: $text-white;
			font-size: 2.2rem;
		}
		&-image2{
			background: linear-gradient(to bottom, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('../img/2.jpg');
			background-position: center;
			color: $text-white;
			font-size: 2.2rem;
		}
	}
}

.services{
	background: linear-gradient(to bottom, rgba(86, 204, 242, 0.8), rgba(86, 204, 242, 0.8)), url('../img/services.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	margin-top: 5.3rem;
	padding: 5.3rem 20rem;
	color: $text-black;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;

	&__card{
		font-size: 1.8rem;
		width: calc(100vh - 44rem);

		p{
			color: $text-gray;
		}
		h4{
			font-size: 2.2rem;
		}
	}
}

.about{
	margin-top: 12rem;
	padding: 7.5rem 0;
	color: $text-white;
	background: linear-gradient(to bottom, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('../img/about.jpg');
	background-position: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;

	p{
		font-size: 1.6rem;
	}
	h4{
		font-size: 4.8rem;
	}
}
.contact{
	background: linear-gradient(to bottom, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url('../img/contact.png');
	background-position: center;
	color: $text-white;
	padding: 3rem 23.6rem;
	text-align: center;

	button{
		margin-top: 9.6rem;
	}
}

.gallery{
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	padding: 0 9.1rem;
	gap: 1.2rem;

	&__image{
		width: 100%;
		height: 30rem;

	}
	img{
		display: inline-block;
		object-fit: cover;
		height: 100%;
		width: 100%;

	}
}

.footer{
	background-color: $bg-dark;
	display: flex;
	flex-direction: column;
	justify-content: center;
	color: $text-white;
	text-align: center;

	&__heading{
		font-size: 2.4rem;
	}
	&__list{
		list-style-type: none;
		text-transform: uppercase;
		display: flex;
		line-height: 2.56rem;
	  	justify-content: center;
	}
	&__list li a{
		text-decoration: none;
		font-size: 1.4rem;
		margin-left: 3.3rem;
		line-height: 2.56rem;
		color: $text-white;
	}
	&__group{
		display: flex;    
		justify-content: center;
    	font-size: 1.4rem;
    	margin-top: 6.6rem;
    	margin-bottom: 4.4rem;

    	img{
    	object-fit: contain;
    }
    	
	}
	
}

/*Mobile screen responsivenes*/
@media (max-width: 600px) {
  .nav{
  	padding: 0 2rem 0 0;

  	&__logo{
  		/*display: none;*/
  	}
  	&__list{
  		display: none;
  	}
  }
  .banner{
  	padding: 2rem;
  	height: 65vh;

  	&__heading{
  		font-size: 4rem;
  	}
  }

  .updates{
	padding: 1.1rem;
	display: block;

	&__card{
		height: 14.5rem;
		width: 100%;
	    display: flex;
		justify-content: center;
		align-items: center;
		font-size: 1.8rem;
		text-align: center;
		padding: 2rem;
		color: $text-black;
		border: 1px solid #eee;
		margin-top: 1rem;

		&-image1{
			font-size: 2rem;
		}
		&-image2{
			font-size: 2rem;
		}
	}
}

.heading{
	margin: 4.9rem 0 0rem;
	font-size: 3.8rem;
}
.contact{
	padding: 3rem;

	button{
		margin-top: 3.6rem;
	}
}

.services{
	margin-top: 5.3rem;
	padding: 5.3rem;
	color: $text-black;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: space-between;

	&__card{
		font-size: 1.8rem;
		width: 100%;

		p{
			color: $text-gray;
		}
		h4{
			font-size: 2.2rem;
		}
	}
}

.gallery{
	display: flex;
	flex-direction: column;
	padding: 0 1.1rem;

	&__image{
		width: 100%;
		height: 30rem;

	}
	img{
		display: inline-block;
		object-fit: cover;
		height: 100%;
		width: 100%;

	}
}

.footer{

	&__heading{
		font-size: 2.4rem;
	}
	&__list{
	    justify-content: center;
	    flex-direction: column;
	    text-align: center;
	    padding: 0px;
	}
	&__group{
		display: flex;    
		justify-content: center;
    	margin-top: 1.6rem;

    	img{
    	object-fit: contain;
    }
    	
	}
	
}
  
}

/*Tablet screens responsiveness*/
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (-webkit-min-device-pixel-ratio: 1) {
  	.row{
  		display: flex;
  		flex-wrap: wrap;
  		justify-content: flex-start;
  	.col-4 {
      width: 48%;
      margin: 0 1rem 1rem 0;
    }
}
}